In [1]:
import numpy as np
import pandas as pd

In [2]:
timesteps = 14
startDay = 350

In [3]:
dt = pd.read_csv("m5-forecasting-accuracy/sales_train_evaluation.csv")
dt.head(3)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

In [5]:
#To reduce memory usage
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [6]:
#Reduce memory usage and compare with the previous one to be sure
dt = downcast_dtypes(dt)

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int16(1941), object(6)
memory usage: 114.3+ MB

In [8]:
#Take the transpose so that we have one day for each row, and 30490 items' sales as columns
dt = dt.T    
dt.head(8)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
id,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_010_CA_1_evaluation,...,FOODS_3_818_WI_3_evaluation,FOODS_3_819_WI_3_evaluation,FOODS_3_820_WI_3_evaluation,FOODS_3_821_WI_3_evaluation,FOODS_3_822_WI_3_evaluation,FOODS_3_823_WI_3_evaluation,FOODS_3_824_WI_3_evaluation,FOODS_3_825_WI_3_evaluation,FOODS_3_826_WI_3_evaluation,FOODS_3_827_WI_3_evaluation
item_id,HOBBIES_1_001,HOBBIES_1_002,HOBBIES_1_003,HOBBIES_1_004,HOBBIES_1_005,HOBBIES_1_006,HOBBIES_1_007,HOBBIES_1_008,HOBBIES_1_009,HOBBIES_1_010,...,FOODS_3_818,FOODS_3_819,FOODS_3_820,FOODS_3_821,FOODS_3_822,FOODS_3_823,FOODS_3_824,FOODS_3_825,FOODS_3_826,FOODS_3_827
dept_id,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,...,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3
cat_id,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,...,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS
store_id,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,...,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3
state_id,CA,CA,CA,CA,CA,CA,CA,CA,CA,CA,...,WI,WI,WI,WI,WI,WI,WI,WI,WI,WI
d_1,0,0,0,0,0,0,0,12,2,0,...,0,14,1,0,4,0,0,0,0,0
d_2,0,0,0,0,0,0,0,15,0,0,...,0,11,1,0,4,0,0,6,0,0

In [9]:
#Remove id, item_id, dept_id, cat_id, store_id, state_id columns
dt = dt[6 + startDay:]
dt.head(5)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
d_351,0,0,0,2,0,0,0,24,3,2,...,0,9,1,0,11,0,0,1,0,0
d_352,0,0,0,0,0,0,0,9,0,2,...,0,5,4,0,8,0,1,2,0,0
d_353,0,0,0,4,2,0,0,2,1,1,...,0,15,2,0,3,0,1,2,0,0
d_354,0,1,0,2,0,0,0,7,1,0,...,0,5,1,0,3,0,0,0,0,0
d_355,0,0,0,1,2,0,0,0,0,0,...,0,7,1,0,1,0,1,1,0,0

In [10]:
calendar = pd.read_csv("m5-forecasting-accuracy/calendar.csv")
calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [11]:
#Create dataframe with zeros for 1969 days in the calendar
daysBeforeEvent = pd.DataFrame(np.zeros((1969,1)))

In [12]:
# "1" is assigned to the days before the event_name_1. Since "event_name_2" is rare, it was not added.
for x,y in calendar.iterrows():
    if((pd.isnull(calendar["event_name_1"][x])) == False):
           daysBeforeEvent[0][x-1] = 1 
            #if first day was an event this row will cause an exception because "x-1".
            #Since it is not i did not consider for now.

In [13]:
#"calendar" won't be used anymore. 
del calendar

In [14]:
#"daysBeforeEventTest" will be used as input for predicting (We will forecast the days 1913-1941)
daysBeforeEventTest = daysBeforeEvent[1941:1969]
#"daysBeforeEvent" will be used for training as a feature.
daysBeforeEvent = daysBeforeEvent[startDay:1941]

In [15]:
#Before concatanation with our main data "dt", indexes are made same and column name is changed to "oneDayBeforeEvent"
daysBeforeEvent.columns = ["oneDayBeforeEvent"]
daysBeforeEvent.index = dt.index

In [16]:
dt = pd.concat([dt, daysBeforeEvent], axis = 1)

dt.columns

Index([                  0,                   1,                   2,
                         3,                   4,                   5,
                         6,                   7,                   8,
                         9,
       ...
                     30481,               30482,               30483,
                     30484,               30485,               30486,
                     30487,               30488,               30489,
       'oneDayBeforeEvent'],
      dtype='object', length=30491)

In [17]:
dt

,0,1,2,3,4,5,6,7,8,9,...,30481,30482,30483,30484,30485,30486,30487,30488,30489,oneDayBeforeEvent
d_351,0,0,0,2,0,0,0,24,3,2,...,9,1,0,11,0,0,1,0,0,0.0
d_352,0,0,0,0,0,0,0,9,0,2,...,5,4,0,8,0,1,2,0,0,1.0
d_353,0,0,0,4,2,0,0,2,1,1,...,15,2,0,3,0,1,2,0,0,0.0
d_354,0,1,0,2,0,0,0,7,1,0,...,5,1,0,3,0,0,0,0,0,0.0
d_355,0,0,0,1,2,0,0,0,0,0,...,7,1,0,1,0,1,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
d_1937,0,0,0,1,0,0,1,5,0,1,...,6,3,0,0,1,0,1,0,0,0.0
d_1938,3,0,2,3,0,0,0,4,0,1,...,4,3,1,2,0,1,0,1,2,0.0
d_1939,3,0,3,0,2,5,1,1,0,0,...,4,3,1,1,0,0,1,1,2,0.0
d_1940,0,0,0,2,1,2,1,40,1,0,...,1,0,0,3,1,1,0,1,5,0.0
d_1941,1,0,1,6,0,0,0,32,0,1,...,1,1,4,4,1,0,2,0,1,0.0

In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming dt is a pandas DataFrame
dt.columns = dt.columns.astype(str)  # Convert column names to strings

sc = MinMaxScaler(feature_range=(0, 1))
dt_scaled = sc.fit_transform(dt)

In [19]:
X_train = []
y_train = []
for i in range(timesteps, 1941 - startDay):
    X_train.append(dt_scaled[i-timesteps:i])
    y_train.append(dt_scaled[i][0:30490])

In [20]:
del dt_scaled

In [21]:
#Convert to np array to be able to feed the LSTM model
X_train = np.array(X_train)
y_train = np.array(y_train)
print(X_train.shape)
print(y_train.shape)

(1577, 14, 30491)
(1577, 30490)

In [22]:
from keras.models import Sequential
from keras.layers import Conv1D, MaxPooling1D, Flatten, Dense, Dropout

# Initialize the model
cnn = Sequential()

# Add a Conv1D layer
cnn.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
cnn.add(MaxPooling1D(pool_size=2))

# Flatten the output to connect it with dense layers
cnn.add(Flatten())

# Add dense layers and dropout for regularization
cnn.add(Dense(50, activation='relu'))
cnn.add(Dropout(0.5))

# Adjusting the final layer for multi-label classification
cnn.add(Dense(30490, activation='sigmoid'))  # Assuming multi-label classification

# Compile the model with binary crossentropy loss and an appropriate optimizer
cnn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Summary of the model (optional)
cnn.summary()

# Fit the model
history = cnn.fit(X_train, y_train,
                    epochs=32,  # Number of epochs
                    batch_size=44,  # Batch size
                    validation_split=0.2,  # Fraction of data to use as validation
                    verbose=1)  # Show progress

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 12, 64)            5854336

 max_pooling1d (MaxPooling1  (None, 6, 64)             0
 D)

 flatten (Flatten)           (None, 384)               0

 dense (Dense)               (None, 50)                19250

 dropout (Dropout)           (None, 50)                0

 dense_1 (Dense)             (None, 30490)             1554990

=================================================================
Total params: 7428576 (28.34 MB)
Trainable params: 7428576 (28.34 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
Epoch 1/32
29/29 [==============================] - 4s 127ms/step - loss: 0.3459 - accuracy: 0.0000e+00 - val_loss: 0.3070 - val_accuracy: 0.0000e+00
Epoch 2/32
29/29 [==============================] - 3s 99ms/step - loss: 0.2467 - accuracy: 0.0000e+00 - val_loss: 0.3083 - val_accuracy: 0.0000e+00
Epoch 3/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2421 - accuracy: 0.0000e+00 - val_loss: 0.3093 - val_accuracy: 0.0000e+00
Epoch 4/32
29/29 [==============================] - 3s 104ms/step - loss: 0.2415 - accuracy: 0.0000e+00 - val_loss: 0.3046 - val_accuracy: 0.0000e+00
Epoch 5/32
29/29 [==============================] - 3s 98ms/step - loss: 0.2389 - accuracy: 0.0000e+00 - val_loss: 0.3041 - val_accuracy: 0.0000e+00
Epoch 6/32
29/29 [==============================] - 3s 102ms/step - loss: 0.2375 - accuracy: 0.0000e+00 - val_loss: 0.3115 - val_accuracy: 0.0000e+00
Epoch 7/32
29/29 [==============================] - 3s 99ms/step - loss: 0.2369 - accuracy: 0.0000e+00 - val_loss: 0.3040 - val_accuracy: 0.0000e+00
Epoch 8/32
29/29 [==============================] - 3s 96ms/step - loss: 0.2372 - accuracy: 0.0000e+00 - val_loss: 0.3071 - val_accuracy: 0.0000e+00
Epoch 9/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2368 - accuracy: 0.0000e+00 - val_loss: 0.3079 - val_accuracy: 0.0000e+00
Epoch 10/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2365 - accuracy: 0.0000e+00 - val_loss: 0.3078 - val_accuracy: 0.0000e+00
Epoch 11/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2369 - accuracy: 0.0000e+00 - val_loss: 0.3030 - val_accuracy: 0.0000e+00
Epoch 12/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2349 - accuracy: 0.0000e+00 - val_loss: 0.3012 - val_accuracy: 0.0000e+00
Epoch 13/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2347 - accuracy: 0.0000e+00 - val_loss: 0.3010 - val_accuracy: 0.0000e+00
Epoch 14/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2349 - accuracy: 0.0000e+00 - val_loss: 0.3002 - val_accuracy: 0.0000e+00
Epoch 15/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2355 - accuracy: 0.0000e+00 - val_loss: 0.3010 - val_accuracy: 0.0000e+00
Epoch 16/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2340 - accuracy: 0.0000e+00 - val_loss: 0.3015 - val_accuracy: 0.0000e+00
Epoch 17/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2355 - accuracy: 0.0000e+00 - val_loss: 0.3009 - val_accuracy: 0.0000e+00
Epoch 18/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2346 - accuracy: 0.0000e+00 - val_loss: 0.3019 - val_accuracy: 0.0000e+00
Epoch 19/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2348 - accuracy: 0.0000e+00 - val_loss: 0.3019 - val_accuracy: 0.0000e+00
Epoch 20/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2355 - accuracy: 0.0000e+00 - val_loss: 0.3013 - val_accuracy: 0.0000e+00
Epoch 21/32
29/29 [==============================] - 3s 97ms/step - loss: 0.2337 - accuracy: 0.0000e+00 - val_loss: 0.3003 - val_accuracy: 0.0000e+00
Epoch 22/32
29/29 [==============================] - 3s 104ms/step - loss: 0.2341 - accuracy: 0.0000e+00 - val_loss: 0.3016 - val_accuracy: 0.0000e+00
Epoch 23/32
29/29 [==============================] - 3s 109ms/step - loss: 0.2345 - accuracy: 0.0000e+00 - val_loss: 0.3012 - val_accuracy: 0.0000e+00
Epoch 24/32
29/29 [==============================] - 3s 108ms/step - loss: 0.2346 - accuracy: 0.0000e+00 - val_loss: 0.3019 - val_accuracy: 0.0000e+00
Epoch 25/32
29/29 [==============================] - 3s 103ms/step - loss: 0.2337 - accuracy: 0.0000e+00 - val_loss: 0.3033 - val_accuracy: 0.0000e+00
Epoch 26/32
29/29 [==============================] - 3s 102ms/step - loss: 0.2339 - accuracy: 0.0000e+00 - val_loss: 0.3013 - val_accuracy: 0.0000e+00
Epoch 27/32
29/29 [==============================] - 3s 105ms/step - loss: 0.2336 - accuracy: 0.0000e+00 - val_loss: 0.3015 - val_accuracy: 0.0000e+00
Epoch 28/32
29/29 [==============================] - 3s 103ms/step - loss: 0.2331 - accuracy: 0.0000e+00 - val_loss: 0.3023 - val_accuracy: 0.0000e+00
Epoch 29/32
29/29 [==============================] - 3s 104ms/step - loss: 0.2331 - accuracy: 7.9302e-04 - val_loss: 0.3044 - val_accuracy: 0.0000e+00
Epoch 30/32
29/29 [==============================] - 3s 102ms/step - loss: 0.2340 - accuracy: 0.0000e+00 - val_loss: 0.3096 - val_accuracy: 0.0000e+00
Epoch 31/32
29/29 [==============================] - 3s 99ms/step - loss: 0.2334 - accuracy: 0.0000e+00 - val_loss: 0.3025 - val_accuracy: 0.0000e+00
Epoch 32/32
29/29 [==============================] - 3s 120ms/step - loss: 0.2330 - accuracy: 0.0000e+00 - val_loss: 0.3019 - val_accuracy: 0.0000e+00

In [23]:
inputs= dt[-timesteps:]
inputs = sc.transform(inputs)

In [24]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
predictions = []

for j in range(timesteps,timesteps + 28):
#X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
    predicted_stock_price = cnn.predict(X_test[0,j - timesteps:j].reshape(1, timesteps, 30491))
    testInput = np.column_stack((np.array(predicted_stock_price), daysBeforeEventTest[0][1941 + j - timesteps]))
    X_test = np.append(X_test, testInput).reshape(1,j + 1,30491)
    predicted_stock_price = sc.inverse_transform(testInput)[:,0:30490]
    predictions.append(predicted_stock_price)

1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 7ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 7ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 8ms/step
1/1 [==============================] - 0s 9ms/step
1/1 [==============================] - 0s 8ms/step

In [25]:
import time

submission = pd.DataFrame(data=np.array(predictions).reshape(28,30490))

submission = submission.T
    
submission = pd.concat((submission, submission), ignore_index=True)

sample_submission = pd.read_csv("m5-forecasting-accuracy/sample_submission.csv")
    
idColumn = sample_submission[["id"]]
    
submission[["id"]] = idColumn  

cols = list(submission.columns)
cols = cols[-1:] + cols[:-1]
submission = submission[cols]

colsdeneme = ["id"] + [f"F{i}" for i in range (1,29)]

submission.columns = colsdeneme

currentDateTime = time.strftime("%d%m%Y_%H%M%S")

submission

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.648438,0.587007,0.585486,0.655861,0.707218,0.762141,0.752638,0.679537,0.647761,...,0.678089,0.691169,0.699166,0.694925,0.678932,0.671418,0.669945,0.678441,0.680122,0.681741
1,HOBBIES_1_002_CA_1_validation,0.314960,0.253734,0.242125,0.274613,0.317051,0.359374,0.369883,0.329093,0.287410,...,0.293352,0.311524,0.320338,0.317386,0.305897,0.298273,0.295655,0.302757,0.309306,0.313851
2,HOBBIES_1_003_CA_1_validation,0.234921,0.201692,0.193773,0.234271,0.274251,0.305147,0.296771,0.246374,0.225425,...,0.288054,0.300778,0.304722,0.298518,0.286257,0.283660,0.283464,0.290223,0.293212,0.294009
3,HOBBIES_1_004_CA_1_validation,2.410650,2.174001,2.128377,2.322984,2.485304,2.688169,2.739625,2.517833,2.356947,...,2.353938,2.425080,2.452876,2.424432,2.367904,2.343361,2.339371,2.366889,2.389249,2.399585
4,HOBBIES_1_005_CA_1_validation,1.172122,1.026019,0.989437,1.092484,1.210024,1.319956,1.306121,1.182574,1.075848,...,1.075530,1.114015,1.130859,1.121636,1.093298,1.075053,1.069322,1.085184,1.098396,1.106288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60975,FOODS_3_823_WI_3_evaluation,0.522251,0.429388,0.396586,0.438571,0.501089,0.575350,0.581302,0.511413,0.440965,...,0.480276,0.505664,0.519489,0.512586,0.493570,0.482724,0.478459,0.486982,0.495104,0.500749
60976,FOODS_3_824_WI_3_evaluation,0.195546,0.143268,0.133264,0.155527,0.185949,0.228227,0.248697,0.213689,0.176720,...,0.165422,0.181919,0.190612,0.188773,0.179649,0.172786,0.170121,0.175349,0.180895,0.185269
60977,FOODS_3_825_WI_3_evaluation,1.203069,1.120990,1.106207,1.214290,1.275450,1.374698,1.405283,1.309011,1.258583,...,1.203890,1.230444,1.244991,1.239991,1.219868,1.209599,1.207294,1.216467,1.222985,1.227379
60978,FOODS_3_826_WI_3_evaluation,0.289860,0.224247,0.216443,0.267076,0.334968,0.411107,0.412568,0.355376,0.309468,...,0.354593,0.380340,0.390625,0.385321,0.372148,0.365325,0.365461,0.377384,0.386818,0.391599
60979,FOODS_3_827_WI_3_evaluation,1.673539,1.654058,1.605650,1.714674,1.654799,1.627309,1.682294,1.592733,1.597304,...,1.996684,2.019999,2.051567,2.053970,2.005891,1.987873,1.977324,1.992424,1.984804,1.991353

In [26]:
submission.to_csv("submission_cnn.csv", index=False)